@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.mainBlock{
    color: white;
    border: 2px solid grey;
    width: 370px;
    height: 210px;
    padding: 15px 40px 10px;
    background-color: rgba(0, 0, 0, 0.75);
}

.firstBlock{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding-bottom: 20px;
}

.firstText{
    font-weight: 700;
}

.secondText{
    font-weight: 300;
}

.secondBlock {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 16px;
}

.contactInfo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.contactInfo img{
    width: 25px;
}