@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
    margin: auto;
    background: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website_logo {
    margin: 0 50px;
}

.website_logo img {
    width: 120px;
    object-fit: cover;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
}

.navLinks{
    padding: 0;
    margin: 0;
    display: flex;
    padding-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    gap: 50px;
}

.navLinks a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}

.navLinks a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.header_social {
    color: white;
    font-size: 26px;
}

.header_social .instIco {
    color: white;
}