@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.footer{
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.contactBlock {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}

.footerCopyright{
    font-family: "Montserrat", sans-serif;
    color: white;
    align-self: center;
    font-weight: 300;
}